body{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    font-family: 'Zilla Slab', serif;
    font-size: 1.4em;
    line-height: 36px;

}
#timer{
    float: right;
    padding-top: 15px;
    padding-right: 25px;
    font-size: 1.8em;
}
#highScores{
    padding-top: 15px;
    padding-left: 25px;
    font-size: 1.6em;
}

#intro-container{
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    top: 200px;
    max-width: 625px;
    border-style: solid;
    border-width: 18px;
    border-radius: 12px;
    background-color: #F1F1F1;
    border-color: #267FD2;
    text-align: center;
}

.main{
    
    max-width: 600px;

}